




#tweets{	
	width:1108;
}

.twit{
    background-color: white;
    border-bottom-width: 1px;
	border-bottom-color:white;
    margin: 0px;
    border-bottom-style: solid;
    width:340px;
    position:relative;
}

.twit detail{
    margin: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.tw_img {
    background-position: center center !important;
    float: left;
    height: 100px;
    margin: 0 3px 3px 0;
    width: 100px;
}

body {
		background: #E1EBFF;
		background-image: url(Twitter-Raffle-background-simple.jpg);
		background-repeat:no-repeat;
		font-family: Verdana;
		font-size: 17px;
		font-weight: bold
		color: #FFFFF;
		margin: 40px 40px;
		margin-left:129px;
		line-height: 1.4;
		font-weight:bold;
	}
h2 {
	margin-top: 40px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: bold;
}
a, a:visited {
	color: #066999;
}
a:hover {
	color: #111;
}
.tweet {
	background: #de035d;
	margin: 4px 0;
	width: 488px;
	padding: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}
.tweet img {
	float: left;
	margin: 0 8px 4px 0;
}
.tweet .text {
	margin: 0;
	color:#FFFFFF;
}
.tweet .time a {
	font-size: 80%;
	color: #FFFF00;
	white-space: nowrap;
	text-decoration: none;
}
.tweet .time a:hover {
	text-decoration: underline;
}
#twitterSearch .tweet {
	min-height: 24px;
}
#twitterSearch .tweet .text {
	margin-left: 32px;
}

.twtr-widget{
	position:absolute;
	top:0px;
	float:right;
	font-size: 30px!important;
	font-family: "lucida grande",lucida,tahoma,helvetica,arial,sans-serif!important;		
}

